<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:product.properties"></property> 
	</bean>

	<bean id="product" class="com.spring.model.Product">
		<property name="pid" value="${product.productId}"></property>
		<property name="productName" value="${product.productName}"></property>
		<property name="description" value="${product.description}"></property>
		<property name="unitPrice" value="${product.unitPrice}"></property>
	</bean>


</beans>
